<div class="playback-container">

<div class="playback" style="max-width:900px; margin-left:auto; margin-right:auto; padding:10px; background-color:blcak;" >
    <div style="display:inline-block; ">
        <image id="np-image" src="/no-art.jpg" style="width:100px; height:100px; padding-right:10px;"/>
    </div>
    <div  style="display:inline-block; vertical-align:middle;" >
        <h4 id="np-title">Title</h4>
        <h5 id="np-artist">Artist</h5>
    </div>
    <div  style="display: inline-block; float: right; line-height: 100px;" >
        <button><i class="fas fa-step-backward fa-lg"></i></button>
        <button id="btn-play" onclick="ResumePlayback();"><i class="fas fa-play fa-2x"></i></button>
        <button id="btn-pause" onclick="PausePlayback();"><i class="fas fa-pause fa-2x"></i></button>
        <button onclick="PlayPlaylistNextTrack();"><i class="fas fa-step-forward fa-lg"></i></button>
    </div>

    <script src="https://sdk.scdn.co/spotify-player.js"></script>
</div>
</div>

<script>

    var activeSongURI = "";
    var activeSongId = "";
    var currentState;

    window.onSpotifyWebPlaybackSDKReady = () => {
        const access_token = `{{access_token}}`; //= access_token;//'BQB5OHFRsGEiNRGkx7CasE62N8Z83l1UcOIu-m9jCjq8pXeaL32bZ5yASLaxSccDCSjcY5XodpwXWU3Y1885Y44coxnMlnxJx6cfUqZUaGKNLupLfeHcKj1gU_21zWJVS4JxWyf6oX-BuKx1C_hWMUCYSEJ0HSLSE8YrzHrmImaA';
        const player = new Spotify.Player({
            name: 'Ensemble Playback',
            getOAuthToken: cb => { cb(access_token); }
        });



        // Error handling
        player.addListener('initialization_error', ({ message }) => { console.error(message); });
        player.addListener('authentication_error', ({ message }) => { console.error(message); });
        player.addListener('account_error', ({ message }) => { console.error(message); });
        player.addListener('playback_error', ({ message }) => { console.error(message); });

        // Playback status updates
        player.addListener('player_state_changed', state => { 
            console.log("paused? ", state.paused);
            if(state.paused !== false){
                $('#btn-play').show();
                $('#btn-pause').hide();
            }else{
                $('#btn-play').hide();
                $('#btn-pause').show();
            }

            if(state.paused == false && activeSongURI == ""){
                PausePlayback();
                currentState = state;
            }
            if(currentState && !currentState.paused && state.paused && state.position === 0) {
                PlayPlaylistNextTrack();
            }
            if(currentState !== undefined){
                if(state.paused != currentState.paused){
                    

                    //playback pause state has changed. send websocket message to dummy playback views

                }


                if(state.track_window.current_track.id != currentState.track_window.current_track.id ){
                    console.log("different track is playing")
                    var xhr2 = new XMLHttpRequest();
                    xhr2.open("GET", "https://api.spotify.com/v1/tracks/" + state.track_window.current_track.id, true);
                    xhr2.setRequestHeader('Authorization' , 'Bearer ' + `{{access_token}}`);
                    xhr2.setRequestHeader('Content-Type', 'application/json')
                    xhr2.onload = function(e){
                        if(xhr2.readyState ===4){
                            var response = JSON.parse(xhr2.responseText);
                            console.log(response);
                            $("#np-title").text(response.name + " ");
                            $("#np-artist").text(response.artists[0].name);
                            $("#np-image").attr('src', response.album.images[0].url);
                            socket.send( 'room-nowplaying-changed', { room_id: '{{room_id}}',song_id: state.track_window.current_track.id, song_title: response.name, song_artist: response.artists[0].name, song_image: response.album.images[0].url });       

                        }else{
                            console.log(xhr2.statusText);
                        }
                    };
                    xhr2.onerror = function(e){
                        console.error(xhr2.statusText);
                    };
                    xhr2.send();
                }

            }else{
                //current state is not set. set it.
                currentState = state;
            }
            
            

            currentState = state;
            console.log(state); 
        });

        // Ready
        player.addListener('ready', ({ device_id }) => {
            var deviceIds = [];
            deviceIds['device_ids'] = device_id;

            //use this https://developer.spotify.com/documentation/web-api/reference/player/transfer-a-users-playback/
            //switch the device to this one.

            //pause first then transfer
            $('#btn-pause').hide();
            var xhr = new XMLHttpRequest();
            xhr.open("PUT", "https://api.spotify.com/v1/me/player/pause", true);
            xhr.setRequestHeader('Authorization' , 'Bearer ' + `{{access_token}}`);
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function(e){
                if(xhr.readyState ===4){
                    console.log(xhr.responseText);
                    var xhr2 = new XMLHttpRequest();
                    xhr2.open("PUT", "https://api.spotify.com/v1/me/player", true);
                    xhr2.setRequestHeader('Authorization' , 'Bearer ' + `{{access_token}}`);
                    xhr2.setRequestHeader('Content-Type', 'application/json')
                    xhr2.onload = function(e){
                        if(xhr2.readyState ===4){
                            console.log(xhr2.responseText);
                            PausePlayback();
                        }else{
                            console.log(xhr2.statusText);
                        }
                    };
                    xhr2.onerror = function(e){
                        console.error(xhr2.statusText);
                    };
                    xhr2.send("{\"device_ids\":[\""+device_id+"\"]}");
                }else{
                    console.log(xhr.statusText);
                    
                }
            };
            xhr.onerror = function(e){
                
            };
            xhr.send(null);
            
            //TransferPlayback(device_id);
            


            //https://api.spotify.com/v1/me/player

            //playback is ready for this browser window


            console.log('Ready with Device ID', device_id);
            console.log(deviceIds);

              
            
        });

        // Not Ready
        player.addListener('not_ready', ({ device_id }) => {
            console.log('Device ID has gone offline', device_id);
        });

        // Connect to the player!
        player.connect();
    };

    function TransferPlayback(device_id){
        return new Promise((resolve, reject) => {
            var xhr2 = new XMLHttpRequest();
            xhr2.open("PUT", "https://api.spotify.com/v1/me/player", true);
            xhr2.setRequestHeader('Authorization' , 'Bearer ' + `{{access_token}}`);
            xhr2.setRequestHeader('Content-Type', 'application/json')
            xhr2.onload = function(e){
                if(xhr2.readyState ===4){
                    console.log(xhr2.responseText);
                
                }else{
                    console.log(xhr2.statusText);
                
                }
            };
            xhr2.onerror = function(e){
                console.error(xhr2.statusText);
                    reject();
            };
            xhr2.send("{\"device_ids\":[\""+device_id+"\"]}");
        });
    }

    function PausePlayback(){
        var xhr = new XMLHttpRequest();
        xhr.open("PUT", "https://api.spotify.com/v1/me/player/pause", true);
        xhr.setRequestHeader('Authorization' , 'Bearer ' + `{{access_token}}`);
        xhr.setRequestHeader('Content-Type', 'application/json')
        xhr.onload = function(e){
            if(xhr.readyState ===4){
                console.log(xhr.responseText);
                
            }else{
                console.log(xhr.statusText);
                
            }
        };
        xhr.onerror = function(e){
            console.error(xhr.statusText);
        
        };
        xhr.send(null);
    }

    function ResumePlayback(){
        if(activeSongURI !=""){
            var xhr = new XMLHttpRequest();
            xhr.open("PUT", "https://api.spotify.com/v1/me/player/play", true);
            xhr.setRequestHeader('Authorization' , 'Bearer ' + `{{access_token}}`);
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function(e){
                if(xhr.readyState ===4){
                    console.log(xhr.responseText);
                    
                }else{
                    console.log(xhr.statusText);
                    
                }
            };
            xhr.onerror = function(e){
                console.error(xhr.statusText);
                
            };
            xhr.send(null);
        }
    }

    function PlayPlaylistTrack(track_uri){
        var xhr = new XMLHttpRequest();
            xhr.open("PUT", "https://api.spotify.com/v1/me/player/play", true);
            xhr.setRequestHeader('Authorization' , 'Bearer ' + `{{access_token}}`);
            xhr.setRequestHeader('Content-Type', 'application/json')
            xhr.onload = function(e){
                if(xhr.readyState ===4){
                    console.log("response " + xhr.responseText);
                    activeSongURI = track_uri;
                    activeSongId = track_uri.replace('spotify:track:','');
                    
                }else{
                    console.log(xhr.statusText);
                    
                }
            };
            xhr.onerror = function(e){
                console.error(xhr.statusText);
                
            };
            xhr.send("{\"uris\": [\""+ track_uri +"\"]}");
    }

    function PlayPlaylistNextTrack(){
        var querystring = "#" + activeSongId;
        var nextTrackId = $("#" + activeSongId).next('div').attr('id');

        if(nextTrackId !== undefined){
            PlayPlaylistTrack('spotify:track:' + nextTrackId);
        }

    }
</script>