<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>{{title}}</title>
</head>
<body>
    <script>
        var access_token = `{{access_token}}`;
    </script>
    
    <h1>You are logged in</h1>
    <div>
        {{partial 'lobby_connect'}}
        {{partial 'lobby_create'}}
    </div>
    <div>
        {{partial 'account_sidebar'}}
    </div>

</body>
</html>